{% extends 'base.html' %}

{% block content %}
    <h1>Добавьте заметку</h1>

    <table>
        <tr>
            <th>Задачи</th>
            <th>Добавлено</th>
            <th>Действия</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.task }}</td>
            <td>{{ task.date_created }}</td>
            <td>
                <a href="/delete/{{ task.id }}">Удалить</a>
                <a href="/update/{{ task.id }}">Изменить</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/" method="POST">
        <input type="text" name="text" placeholder="Введите заметку...">
        <input type="submit" value="Добавить">
    </form>

{% endblock content %}
