{% extends 'core/base.html' %}
{% block content %}

<ul>
    <li>Назавание фильма: {{ movie.name }}</li>
    <li>Жанр: {{ movie.genre }}</li>
    <li>Описание фильма: {{ movie.description }}</li>
    <img src="{{ movie.poster }}">
</ul>

{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить">
    </form>
{% else %}
    <h3><a target="_blank" href="/register">Зарегистрируйтесь</a></h3>
    <h3>Или <a href="/login">войдите</a> в аккаунт</h3>
{% endif %}

{% if movie.comments.all|length < 1 %}
    <h4>Комментариев пока нет. Будьте первым!</h4>
{% else %}
    {% for comment in movie.comments.all %}
        <ul>
            <li>{{ comment.user.username }} : {{ comment.text }} <small>{{ comment.date_created }}</small></li>
        </ul>
    {% endfor %}
{% endif %}

{% endblock content %}